{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>this is the about page.</h1>
    </div>
    <div>
        <h2>rango says : enjoy it.</h2>
        <img src="{% static "rango/images/girls.jpg" %}" height="auto" width="auto">
    </div>
    <button onclick="alert('You clicked the button using js')">
        Click me,I run js.
    </button>
    <button id="about-btn">Click Me - I'm Javascript on Speed</button>

    <p>This is an example</p>

    <p>This is another example</p>
{% endblock %}