<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango - {% block block_title %}How to tango with django{% endblock %}</title>
</head>
<body>
<div>{% block block_body %}{% endblock %}</div>
<hr/>
<div>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'rango:restrict' %}">Restricted Page</a></li>
            <li><a href="{% url 'rango:user_logout' %}">Logout</a></li>
            <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li>
        {% else %}
            <li><a href="{% url 'rango:register' %}">Register Here</a></li>
            <li><a href="{% url 'rango:login' %}">Login</a></li>
        {% endif %}

        <li><a href="{% url 'rango:about' %}">About</a></li>
    </ul>
</div>
</body>
</html>