{% extends 'base.html' %}

{% block title_block %} Category {% endblock %}
{% block body_block %}
    <h1>Categories</h1>
    <br>
    {% if categories %}
        <ul>
            {% for c in categories %}
                <li><a href="{% url 'rango:category' c.slug %}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>no categories</strong>
    {% endif %}
    <h1>Pages</h1>
    {% if pages %}
        <ul>
            {% for p in pages %}
                <li>{{ p.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>There are No Pages</h1>
    {% endif %}
    <hr>
    <p>visits:{{ request.session.visits }}</p>
{% endblock %}